{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
  },
  "settings": {
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      },
      "node": {
        "moduleDirectory": [
          "node_modules",
          "client/scripts",
          "client/styles",
          "client/fonts",
          "client/media"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }]
  },
  "globals": {
    'dat': true
  }
}
